.version.ergonomic_evaluation /* version checker */
{
	color: #0000FC;
	background-color: #4DCFB0;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 493px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
}

#u2491
{
	z-index: 115;
	height: 62px;
	top: 0px;
}

#u2491-bw
{
	z-index: 115;
}

#u2492
{
	z-index: 116;
	height: 62px;
	top: 0px;
}

#u2492-bw
{
	z-index: 116;
}

#u2523
{
	z-index: 146;
	width: 84px;
	padding-bottom: 84px;
	margin-left: 19px;
}

#u2526
{
	z-index: 147;
	width: 84px;
	padding-bottom: 84px;
	top: 0px;
	left: 50%;
	margin-left: -491px;
}

#u2524
{
	z-index: 148;
	width: 80px;
	top: 2px;
	left: 50%;
	margin-left: -489px;
}

#pu2522-4
{
	width: 0.01px;
	padding-bottom: 34px;
	margin-left: 113px;
	margin-top: -71px;
}

#u2522-4
{
	z-index: 142;
	width: 457px;
	min-height: 34px;
	top: 14px;
	left: 50%;
	margin-left: -397px;
}

#menuu2493
{
	z-index: 117;
	width: 419px;
	top: 14px;
	left: 50%;
	margin-left: 71px;
}

#u2494
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2497
{
	width: 97px;
	padding-bottom: 12px;
}

#u2497:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2497:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2497.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u2500-4
{
	width: 50px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2497:hover #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2497:active #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2497.MuseMenuActive #u2500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u2501
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 99px;
}

#u2502
{
	width: 127px;
	padding-bottom: 12px;
}

#u2502:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2502:active
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2502.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u2504-4
{
	width: 80px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2502:hover #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2502:active #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2502.MuseMenuActive #u2504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u2508
{
	width: 71px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u2511
{
	width: 71px;
	padding-bottom: 12px;
}

#u2511:hover
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2511:active
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2511.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u2514-4
{
	width: 24px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2511:hover #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2511:active #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2511.MuseMenuActive #u2514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2515
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	left: 301px;
}

#u2516
{
	width: 118px;
	padding-bottom: 12px;
}

#u2516:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2516:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2516.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2518-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 23px;
}

#u2516:hover #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2516:active #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2516.MuseMenuActive #u2518-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#pu2736-3
{
	width: 0.01px;
}

#u2736-3
{
	z-index: 2;
	width: 1020px;
	min-height: 69px;
	margin-right: -10000px;
}

#u2737-4
{
	z-index: 101;
	width: 1020px;
	min-height: 42px;
	background-color: transparent;
	line-height: 36px;
	color: #68667F;
	font-size: 30px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2737
{
	font-family: coda, sans-serif;
	font-weight: 400;
}

#slideshowu2612
{
	z-index: 5;
	width: 0.01px;
	height: 577px;
	margin-left: 20px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u2613
{
	position: absolute;
	width: 788px;
	height: 524px;
	background-color: transparent;
	top: 53px;
	left: 192px;
}

#u2613popup
{
	z-index: 6;
}

#u2616
{
	z-index: 7;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2685
{
	z-index: 9;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2685_img
{
	margin-top: -17px;
	margin-bottom: -16px;
}

#u2694
{
	z-index: 11;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2694_img
{
	margin-top: -1px;
}

#u2703
{
	z-index: 13;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2616_img,#u2703_img
{
	margin-bottom: -1px;
}

#u2712
{
	z-index: 15;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2721
{
	z-index: 17;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2712_img,#u2721_img
{
	margin-left: -26px;
	margin-right: -26px;
}

#u2849
{
	z-index: 19;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2616_clip,#u2685_clip,#u2694_clip,#u2703_clip,#u2712_clip,#u2721_clip,#u2849_clip
{
	overflow: hidden;
	width: 788px;
	height: 524px;
}

#u2849_img
{
	margin-left: -14px;
	margin-right: -14px;
}

#u2858
{
	z-index: 21;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2876
{
	z-index: 23;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2876_img
{
	padding-left: 30px;
	padding-right: 30px;
}

#u2867
{
	z-index: 25;
	width: 788px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2623
{
	position: absolute;
	width: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 139px;
	top: 53px;
}

#u2623popup
{
	z-index: 27;
}

#u2624
{
	z-index: 28;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2688
{
	z-index: 30;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u2624.SSSlideLinkSelected,#u2688.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2688_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u2697
{
	z-index: 32;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
}

#u2697_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u2706
{
	z-index: 34;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 96px;
}

#u2697.SSSlideLinkSelected,#u2706.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 73px -10000px 0px 0px;
}

#u2624_img,#u2706_img
{
	margin-left: -5px;
	margin-right: -4px;
}

#u2715
{
	z-index: 36;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
}

#u2724
{
	z-index: 38;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 96px;
}

#u2715.SSSlideLinkSelected,#u2724.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 147px -10000px 0px 0px;
}

#u2715_img,#u2724_img
{
	margin-left: -8px;
	margin-right: -7px;
}

#u2852
{
	z-index: 40;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
}

#u2852_img
{
	margin-left: -6px;
	margin-right: -7px;
}

#u2861
{
	z-index: 42;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 96px;
}

#u2852.SSSlideLinkSelected,#u2861.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u2879
{
	z-index: 44;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
}

#u2870
{
	z-index: 46;
	width: 86px;
	height: 63px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
	left: 96px;
}

#u2879.SSSlideLinkSelected,#u2870.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 86px;
	height: 63px;
	min-height: 0px;
	margin: 293px -10000px 0px 0px;
}

#u2624_clip,#u2688_clip,#u2697_clip,#u2706_clip,#u2715_clip,#u2724_clip,#u2852_clip,#u2870_clip
{
	overflow: hidden;
	width: 86px;
	height: 63px;
}

#u2870_img
{
	margin-top: -6px;
	margin-bottom: -7px;
}

#u2631
{
	position: absolute;
	width: 850px;
	background-color: transparent;
}

#u2631popup
{
	z-index: 48;
}

#u2633-4
{
	z-index: 49;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2691-4
{
	z-index: 53;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2700-4
{
	z-index: 57;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2709-4
{
	z-index: 61;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2718-4
{
	z-index: 65;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2727-4
{
	z-index: 69;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2855-4
{
	z-index: 73;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2864-4
{
	z-index: 77;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2882-4
{
	z-index: 81;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2873-4
{
	z-index: 85;
	width: 830px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 28px;
	color: #999999;
	font-size: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2620-4
{
	position: absolute;
	width: 48px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 881px;
}

#u2620-4popup
{
	z-index: 89;
}

#u2637-4
{
	position: absolute;
	width: 10px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 850px;
}

#u2637-4popup
{
	z-index: 93;
}

#u2620,#u2637
{
	color: #999999;
}

#u2635-4
{
	position: absolute;
	width: 10px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 950px;
}

#u2635-4popup
{
	z-index: 97;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5968-6
{
	z-index: 105;
	width: 980px;
	min-height: 33px;
	background-color: transparent;
	color: #68667F;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u5968-2
{
	font-size: 16px;
	line-height: 19px;
}

#u2490-4
{
	z-index: 111;
	width: 980px;
	min-height: 32px;
	padding-top: 14px;
	margin-left: 20px;
	margin-top: 9px;
}

#u2490-4:hover
{
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 9px 0px 0px 20px;
}

#u2490-4:active
{
	padding-top: 14px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 980px;
	margin: 9px 0px 0px 20px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

